*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
#header{
    
    height: 10vh;
    width:100%;
    background-color: rgb(7, 26, 73);
    position: fixed;

    
}
#fakeheader{
     
    height: 10vh;
    width:100%;
    background-color: rgb(198, 225, 237);
}
#page1{
    height:90%;
    width:100%;
    background-color: rgb(198, 225, 237);
}
#page2{
    height:90%;
    width:100%;
    background-color: rgb(23, 84, 110);
}